.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: space-between;
    align-items: stretch;
  }
  
.flex-container > div {
    background-color: #ccc;
    width: 280px;
    height: 250px;
    margin-top: 10px;
    /* margin-left: 25px; */
    margin-bottom: 20px;
  }

.project {
    background-image: url(../images/bill1.jpg);
}

#proj-1 {
    background-image: url(../images/bill1.jpg);
}

.proj-label {
    color: white;
    background-color: teal;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: -180px;
    width: 100%;
}

@media screen and (max-width: 768px) {
  .flex-container > div {
    width: 48%;

  }
}